<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/listObject.html -->

	<article class="col-xs-12">
		<div class="listObject{f:if(condition: object.featured, then: ' featured')}">

		<!-- Content -->
			<div class="object-content">
				<div class="object-title">
					<f:link.action action="show" arguments="{object: object}">
						{iterator.cycle}. {object.title -> f:format.crop(maxCharacters: '{settings.titleCrop}', respectWordBoundaries:'0')}
					</f:link.action>
				</div>
			</div>
		</div>
	</article>

</html>