<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<!--
	=====================
		Templates/Object/Count.html -->

<f:section name="main">
	<!--TYPO3SEARCH_end-->
	<div class="container" style="margin-top:30px">
	<f:if condition="{objects}">
		<f:then>
			total: {objects.total}<br>
			projects: {objects.projects}<br>
			objects: {objects.objects}
		</f:then>
		<f:else>
			<div class="no-object-found">
				<f:translate key="list_noobjectsfound" />
			</div>
		</f:else>
	</f:if>
	</div>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>