<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="reference">
	<f:translate key="tx_trader_domain_model_object.reference" />
</label><br />
	<f:form.textfield property="reference" /><br />
<label for="title">
	<f:translate key="tx_trader_domain_model_object.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="teaser">
	<f:translate key="tx_trader_domain_model_object.teaser" />
</label><br />
	<f:form.textarea property="teaser" cols="40" rows="15" /><br />
<label for="description">
	<f:translate key="tx_trader_domain_model_object.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="status">
	<f:translate key="tx_trader_domain_model_object.status" />
</label><br />
	<f:form.textfield property="status" /><br />
<label for="availdate">
	<f:translate key="tx_trader_domain_model_object.availdate" />
</label><br />
	<f:form.textfield property="availdate" value="{object.availdate->f:format.date()}" /><br />
<label for="auctiondate">
	<f:translate key="tx_trader_domain_model_object.auctiondate" />
</label><br />
	<f:form.textfield property="auctiondate" value="{object.auctiondate->f:format.date()}" /><br />
<label for="rented">
	<f:translate key="tx_trader_domain_model_object.rented" />
</label><br />
	<f:form.checkbox property="rented" value="1" /><br />
<label for="rentdate">
	<f:translate key="tx_trader_domain_model_object.rentdate" />
</label><br />
	<f:form.textfield property="rentdate" value="{object.rentdate->f:format.date()}" /><br />
<label for="isproject">
	<f:translate key="tx_trader_domain_model_object.isproject" />
</label><br />
	<f:form.checkbox property="isproject" value="1" /><br />
<label for="marketing">
	<f:translate key="tx_trader_domain_model_object.marketing" />
</label><br />
	<f:form.textfield property="marketing" /><br />
<label for="street">
	<f:translate key="tx_trader_domain_model_object.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="number">
	<f:translate key="tx_trader_domain_model_object.number" />
</label><br />
	<f:form.textfield property="number" /><br />
<label for="zip">
	<f:translate key="tx_trader_domain_model_object.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="state">
	<f:translate key="tx_trader_domain_model_object.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="country">
	<f:translate key="tx_trader_domain_model_object.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="latitude">
	<f:translate key="tx_trader_domain_model_object.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="longitude">
	<f:translate key="tx_trader_domain_model_object.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />
<label for="hideadress">
	<f:translate key="tx_trader_domain_model_object.hideadress" />
</label><br />
	<f:form.checkbox property="hideadress" value="1" /><br />
<label for="hidecontact">
	<f:translate key="tx_trader_domain_model_object.hidecontact" />
</label><br />
	<f:form.checkbox property="hidecontact" value="1" /><br />
<label for="far">
	<f:translate key="tx_trader_domain_model_object.far" />
</label><br />
	<f:form.textfield property="far" /><br />
<label for="fsi">
	<f:translate key="tx_trader_domain_model_object.fsi" />
</label><br />
	<f:form.textfield property="fsi" /><br />
<label for="yearbuild">
	<f:translate key="tx_trader_domain_model_object.yearbuild" />
</label><br />
	<f:form.textfield property="yearbuild" /><br />
<label for="areatotal">
	<f:translate key="tx_trader_domain_model_object.areatotal" />
</label><br />
	<f:form.textfield property="areatotal" /><br />
<label for="areausable">
	<f:translate key="tx_trader_domain_model_object.areausable" />
</label><br />
	<f:form.textfield property="areausable" /><br />
<label for="arealiving">
	<f:translate key="tx_trader_domain_model_object.arealiving" />
</label><br />
	<f:form.textfield property="arealiving" /><br />
<label for="areabase">
	<f:translate key="tx_trader_domain_model_object.areabase" />
</label><br />
	<f:form.textfield property="areabase" /><br />
<label for="floor">
	<f:translate key="tx_trader_domain_model_object.floor" />
</label><br />
	<f:form.textfield property="floor" /><br />
<label for="floors">
	<f:translate key="tx_trader_domain_model_object.floors" />
</label><br />
	<f:form.textfield property="floors" /><br />
<label for="norooms">
	<f:translate key="tx_trader_domain_model_object.norooms" />
</label><br />
	<f:form.textfield property="norooms" /><br />
<label for="nobedrooms">
	<f:translate key="tx_trader_domain_model_object.nobedrooms" />
</label><br />
	<f:form.textfield property="nobedrooms" /><br />
<label for="nobathrooms">
	<f:translate key="tx_trader_domain_model_object.nobathrooms" />
</label><br />
	<f:form.textfield property="nobathrooms" /><br />
<label for="noparking">
	<f:translate key="tx_trader_domain_model_object.noparking" />
</label><br />
	<f:form.textfield property="noparking" /><br />
<label for="typeparking">
	<f:translate key="tx_trader_domain_model_object.typeparking" />
</label><br />
	<f:form.textfield property="typeparking" /><br />
<label for="pricetotal">
	<f:translate key="tx_trader_domain_model_object.pricetotal" />
</label><br />
	<f:form.textfield property="pricetotal" /><br />
<label for="pricesqm">
	<f:translate key="tx_trader_domain_model_object.pricesqm" />
</label><br />
	<f:form.textfield property="pricesqm" /><br />
<label for="pricetax">
	<f:translate key="tx_trader_domain_model_object.pricetax" />
</label><br />
	<f:form.textfield property="pricetax" /><br />
<label for="priceinc">
	<f:translate key="tx_trader_domain_model_object.priceinc" />
</label><br />
	<f:form.checkbox property="priceinc" value="1" /><br />
<label for="commisionint">
	<f:translate key="tx_trader_domain_model_object.commisionint" />
</label><br />
	<f:form.textfield property="commisionint" /><br />
<label for="commintinc">
	<f:translate key="tx_trader_domain_model_object.commintinc" />
</label><br />
	<f:form.checkbox property="commintinc" value="1" /><br />
<label for="commisionext">
	<f:translate key="tx_trader_domain_model_object.commisionext" />
</label><br />
	<f:form.textfield property="commisionext" /><br />
<label for="commextinc">
	<f:translate key="tx_trader_domain_model_object.commextinc" />
</label><br />
	<f:form.checkbox property="commextinc" value="1" /><br />
<label for="pricedeposit">
	<f:translate key="tx_trader_domain_model_object.pricedeposit" />
</label><br />
	<f:form.textfield property="pricedeposit" /><br />
<label for="priceparking">
	<f:translate key="tx_trader_domain_model_object.priceparking" />
</label><br />
	<f:form.textfield property="priceparking" /><br />
<label for="rent">
	<f:translate key="tx_trader_domain_model_object.rent" />
</label><br />
	<f:form.textfield property="rent" /><br />
<label for="rentparking">
	<f:translate key="tx_trader_domain_model_object.rentparking" />
</label><br />
	<f:form.textfield property="rentparking" /><br />
<label for="heating">
	<f:translate key="tx_trader_domain_model_object.heating" />
</label><br />
	<f:form.textfield property="heating" /><br />
<label for="expenses">
	<f:translate key="tx_trader_domain_model_object.expenses" />
</label><br />
	<f:form.textfield property="expenses" /><br />
<label for="images">
	<f:translate key="tx_trader_domain_model_object.images" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="floorplans">
	<f:translate key="tx_trader_domain_model_object.floorplans" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="video">
	<f:translate key="tx_trader_domain_model_object.video" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="documents">
	<f:translate key="tx_trader_domain_model_object.documents" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
</html>