<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-trader" >
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.reference" />
		</td>
		<td>
		{object.reference}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.title" />
		</td>
		<td>
		{object.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.teaser" />
		</td>
		<td>
		{object.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.description" />
		</td>
		<td>
		{object.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.status" />
		</td>
		<td>
		{object.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.availdate" />
		</td>
		<td>
		{object.availdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.auctiondate" />
		</td>
		<td>
		{object.auctiondate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.rented" />
		</td>
		<td>
		{object.rented}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.rentdate" />
		</td>
		<td>
		{object.rentdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.isproject" />
		</td>
		<td>
		{object.isproject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.marketing" />
		</td>
		<td>
		{object.marketing}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.street" />
		</td>
		<td>
		{object.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.number" />
		</td>
		<td>
		{object.number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.zip" />
		</td>
		<td>
		{object.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.state" />
		</td>
		<td>
		{object.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.country" />
		</td>
		<td>
		{object.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.latitude" />
		</td>
		<td>
		{object.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.longitude" />
		</td>
		<td>
		{object.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.hideadress" />
		</td>
		<td>
		{object.hideadress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.hidecontact" />
		</td>
		<td>
		{object.hidecontact}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.far" />
		</td>
		<td>
		{object.far}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.fsi" />
		</td>
		<td>
		{object.fsi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.yearbuild" />
		</td>
		<td>
		{object.yearbuild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.areatotal" />
		</td>
		<td>
		{object.areatotal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.areausable" />
		</td>
		<td>
		{object.areausable}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.arealiving" />
		</td>
		<td>
		{object.arealiving}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.areabase" />
		</td>
		<td>
		{object.areabase}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.floor" />
		</td>
		<td>
		{object.floor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.floors" />
		</td>
		<td>
		{object.floors}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.norooms" />
		</td>
		<td>
		{object.norooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.nobedrooms" />
		</td>
		<td>
		{object.nobedrooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.nobathrooms" />
		</td>
		<td>
		{object.nobathrooms}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.noparking" />
		</td>
		<td>
		{object.noparking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.typeparking" />
		</td>
		<td>
		{object.typeparking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.pricetotal" />
		</td>
		<td>
		{object.pricetotal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.pricesqm" />
		</td>
		<td>
		{object.pricesqm}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.pricetax" />
		</td>
		<td>
		{object.pricetax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.priceinc" />
		</td>
		<td>
		{object.priceinc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.commisionint" />
		</td>
		<td>
		{object.commisionint}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.commintinc" />
		</td>
		<td>
		{object.commintinc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.commisionext" />
		</td>
		<td>
		{object.commisionext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.commextinc" />
		</td>
		<td>
		{object.commextinc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.pricedeposit" />
		</td>
		<td>
		{object.pricedeposit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.priceparking" />
		</td>
		<td>
		{object.priceparking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.rent" />
		</td>
		<td>
		{object.rent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.rentparking" />
		</td>
		<td>
		{object.rentparking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.heating" />
		</td>
		<td>
		{object.heating}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.expenses" />
		</td>
		<td>
		{object.expenses}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.images" />
		</td>
		<td>
				<f:image src="{object.images.0.originalResource.publicUrl}" width="200"/> #first image
				<br>
				<f:render section="images" arguments="{images: object.images}"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.floorplans" />
		</td>
		<td>
				<f:image src="{object.floorplans.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.video" />
		</td>
		<td>
				<f:image src="{object.video.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trader_domain_model_object.documents" />
		</td>
		<td>
				<a href="{object.documents.originalResource.publicUrl}">
					{object.documents.originalResource.name}
				</a>
		</td>
	</tr>
</table>

<!-- 1920x1080 : 1280x720 : 960x560 : 640x360 : 480x270 : 320x180 : 160x90 -->
<f:section name="images">
	<f:for each="{images}" as="image">
		<f:image src="{image.uid}" treatIdAsReference="1" width="160c" height="90"/>
    </f:for>
</f:section>
</html>