@font-face {
  font-family: 'icons';
  src: url('../Fonts/icons.eot?20081076');
  src: url('../Fonts/icons.eot?20081076#iefix') format('embedded-opentype'),
       url('../Fonts/icons.woff2?20081076') format('woff2'),
       url('../Fonts/icons.woff?20081076') format('woff'),
       url('../Fonts/icons.ttf?20081076') format('truetype'),
       url('../Fonts/icons.svg?20081076#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?20081076#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-account:before { content: '\e800'; }
.icon-add:before { content: '\e801'; }
.icon-add-box:before { content: '\e802'; }
.icon-add-circle:before { content: '\e803'; }
.icon-arrow-box-down:before { content: '\e804'; }
.icon-arrow-box-left:before { content: '\e805'; }
.icon-arrow-box-right:before { content: '\e806'; }
.icon-arrow-box-up:before { content: '\e807'; }
.icon-arrow-circle-down:before { content: '\e808'; }
.icon-arrow-circle-left:before { content: '\e809'; }
.icon-arrow-circle-right:before { content: '\e80a'; }
.icon-arrow-circle-up:before { content: '\e80b'; }
.icon-arrow-down:before { content: '\e80c'; }
.icon-down-1:before { content: '\e80d'; }
.icon-down:before { content: '\e80e'; }
.icon-arrow-left:before { content: '\e80f'; }
.icon-left-1:before { content: '\e810'; }
.icon-left:before { content: '\e811'; }
.icon-arrow-right:before { content: '\e812'; }
.icon-right-1:before { content: '\e813'; }
.icon-right:before { content: '\e814'; }
.icon-arrow-up:before { content: '\e815'; }
.icon-up-1:before { content: '\e816'; }
.icon-up:before { content: '\e817'; }
.icon-at-sign:before { content: '\e818'; }
.icon-bathroom:before { content: '\e819'; }
.icon-bedroom:before { content: '\e81a'; }
.icon-bin:before { content: '\e81b'; }
.icon-calendar:before { content: '\e81c'; }
.icon-check:before { content: '\e81d'; }
.icon-check-box:before { content: '\e81f'; }
.icon-check-circle:before { content: '\e820'; }
.icon-play:before { content: '\e821'; }
.icon-cross-over:before { content: '\e822'; }
.icon-crosshair:before { content: '\e824'; }
.icon-room:before { content: '\e825'; }
.icon-email:before { content: '\e826'; }
.icon-expand:before { content: '\e827'; }
.icon-fax:before { content: '\e828'; }
.icon-file-excel:before { content: '\e829'; }
.icon-file-music:before { content: '\e82a'; }
.icon-file-new:before { content: '\e82b'; }
.icon-file-pdf:before { content: '\e82c'; }
.icon-file-picture:before { content: '\e82d'; }
.icon-file-text:before { content: '\e82e'; }
.icon-file-video:before { content: '\e82f'; }
.icon-file-word:before { content: '\e830'; }
.icon-file-zipped:before { content: '\e831'; }
.icon-garage:before { content: '\e832'; }
.icon-globe:before { content: '\e833'; }
.icon-hash:before { content: '\e834'; }
.icon-heart:before { content: '\e835'; }
.icon-help-circle:before { content: '\e836'; }
.icon-home:before { content: '\e837'; }
.icon-hot-topic:before { content: '\e838'; }
.icon-size-house:before { content: '\e839'; }
.icon-info-circle:before { content: '\e83a'; }
.icon-image:before { content: '\e83b'; }
.icon-location:before { content: '\e83c'; }
.icon-login:before { content: '\e83e'; }
.icon-facebook:before { content: '\e83f'; }
.icon-google-plus:before { content: '\e840'; }
.icon-linkedin:before { content: '\e841'; }
.icon-pinterest:before { content: '\e842'; }
.icon-twitter:before { content: '\e843'; }
.icon-logout:before { content: '\e844'; }
.icon-size:before { content: '\e845'; }
.icon-mobile-phone-portrait:before { content: '\e846'; }
.icon-pen:before { content: '\e847'; }
.icon-homephone:before { content: '\e848'; }
.icon-phone:before { content: '\e849'; }
.icon-print:before { content: '\e84a'; }
.icon-star-small:before { content: '\e84b'; }
.icon-rank-army-star-2-1:before { content: '\e84c'; }
.icon-remove:before { content: '\e84d'; }
.icon-remove-box:before { content: '\e84e'; }
.icon-remove-circle:before { content: '\e84f'; }
.icon-share:before { content: '\e850'; }
.icon-shower:before { content: '\e851'; }
.icon-shrink:before { content: '\e852'; }
.icon-synchronize:before { content: '\e853'; }
.icon-video:before { content: '\e854'; }
.icon-view:before { content: '\e855'; }
.icon-rows:before { content: '\e856'; }
.icon-grid:before { content: '\e857'; }
.icon-clock:before { content: '\e858'; }
.icon-subtract:before { content: '\e859'; }
.icon-delivery:before { content: '\e864'; }
.icon-houses:before { content: '\e865'; }
.icon-shovel:before { content: '\e866'; }